<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DemonioPAB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <DemonioPAB.Properties.Settings>
            <setting name="Puerto" serializeAs="String">
                <value>8103</value>
            </setting>
            <setting name="RUTA_CONFIG" serializeAs="String">
                <value>C:\AutosystV2</value>
            </setting>
            <setting name="ARCHIVO_CONFIGURACION" serializeAs="String">
                <value>cfgParamPGC.config</value>
            </setting>
        </DemonioPAB.Properties.Settings>
    </applicationSettings>
</configuration>